header.header
  .container
    .header-top
      a.header-logo(href="#") MoGo
      ul.header-menu
        +menuLink("About")
        +menuLink("Services")
        +menuLink("Work")
        +menuLink("Blog")
        +menuLink("Contact")
        li.header-menu-item
          a.header-menu-icon(href="#") 
            i.fa.fa-shopping-cart
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fa.fa-search
      i.fa.fa-bars.header-toggle
    .header-content
      h2.header-content-caption Creative template
      h1.header-content-main Welcome to mogo
      a.header-content-more(href="#") Learn more
    .header-bottom
      +headerBottomItem("01","Infro","is-active")
      +headerBottomItem("02","Infro")
      +headerBottomItem("03","Infro")
      +headerBottomItem("04","Infro")