section.service
  .container
    +blockBox("We work with", "Amazing Services")
    .service-container
      .service-list
        +serviceItem("../images/img-service-icon1.png", "Photography")
        +serviceItem("../images/img-service-icon2.png", "Web design")
        +serviceItem("../images/img-service-icon3.png", "Creativity")
      .service-list
        +serviceItem("../images/img-service-icon4.png", "Seo")
        +serviceItem("../images/img-service-icon5.png", " Css/html")
        +serviceItem("../images/img-service-icon6.png", "Digital")


