section.team
  .container
    +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.")
    .team-list
      +teamItem
        +teamSocial
      +teamItem("../images/img-team2.png")
        +teamSocial
      +teamItem("../images/img-team3.png")
        +teamSocial

section.brand
  .container
    img(src="../images/img-logos.png")
