section.wedo
  .container
    +blockBox("Service","What we do","Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.")
    .wedo-container
      img(src= "../images/img-wedo.png").wedo-image
      .wedo-content
          +wedoItem("../images/img-wedo-icon1.png","Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.","is-active","fal fa-angle-up" )
          +wedoItem("../images/img-wedo-icon2.png","Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt")
          +wedoItem("../images/img-wedo-icon3.png","Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt")
            
